*, *::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 400;
  position: relative;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h2 {
  font-weight: 700;
  line-height: 29px;
  font-size: 24px;
}

@media (max-width: 480px) {
  h2 {
    font-size: 18px;
  }
}

@media (max-width: 340px) {
  h2 {
    font-size: 14px;
  }
}

.btn {
  border-radius: 10px;
  line-height: 17px;
  font-size: 14px;
}

@media (max-width: 340px) {
  .btn {
    border-radius: 5px;
  }
}

.container, .wrap, .cards__info {
  margin: 0 auto;
}

.feat__main, .feat__years, .feat__feet {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.container {
  max-width: 1280px;
}

.wrap {
  max-width: 1180px;
}

@media (max-width: 1200px) {
  .wrap {
    max-width: 850px;
  }
}

@media (max-width: 900px) {
  .wrap {
    max-width: 600px;
  }
}

@media (max-width: 630px) {
  .wrap {
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .wrap {
    max-width: 300px;
  }
}

@media (max-width: 340px) {
  .wrap {
    max-width: 250px;
  }
}

@media (max-width: 280px) {
  .wrap {
    max-width: 200px;
  }
}

.header {
  color: #fff;
  background: url("../img/header.png") no-repeat top center;
  background-size: cover;
  position: relative;
}

.header .wrap {
  position: relative;
  z-index: 3;
}

.header__top {
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 50px;
}

.header__top .menu {
  font-size: 18px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 45%;
          flex: 0 1 45%;
  margin-left: 120px;
  position: relative;
}

@media (max-width: 900px) {
  .header__top .menu {
    margin-left: auto;
  }
}

.header__top .menu #menu__toggle {
  opacity: 0;
}

.header__top .menu #menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header__top .menu #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.header__top .menu #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.header__top .menu #menu__toggle:checked ~ .menu__list {
  right: 0;
}

.header__top .menu__btn {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 900px) {
  .header__top .menu__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__top .menu__btn > span,
.header__top .menu__btn > span::before,
.header__top .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.header__top .menu__btn > span::before {
  content: '';
  top: -8px;
}

.header__top .menu__btn > span::after {
  content: '';
  top: 8px;
}

.header__top .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 900px) {
  .header__top .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    text-align: center;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 80px 0;
    background-color: #1F2021;
    -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
}

@media (max-width: 900px) {
  .header__top .menu__link {
    display: block;
    padding: 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition-duration: .25s;
            transition-duration: .25s;
  }
}

.header__top .menu__link:hover {
  color: #000;
  background-color: #CFD8DC;
}

.header__top .phone {
  margin-left: auto;
  text-align: right;
  padding-top: 10px;
}

@media (max-width: 900px) {
  .header__top .phone {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .header__top .phone {
    position: absolute;
    top: 70%;
    left: 0;
    z-index: -1;
  }
}

.header__top .phone__number {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 3px;
}

@media (max-width: 767px) {
  .header__top .phone__number {
    font-size: 18px;
    line-height: 16px;
  }
}

@media (max-width: 340px) {
  .header__top .phone__number {
    font-size: 16px;
  }
}

.header__top .phone__title {
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 767px) {
  .header__top .phone__title {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .header__top {
    margin-bottom: 20px;
  }
}

.header__bottom {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  padding-bottom: 66px;
}

@media (max-width: 767px) {
  .header__bottom {
    font-size: 24px;
    line-height: 23px;
  }
}

@media (max-width: 340px) {
  .header__bottom {
    font-size: 20px;
  }
}

@media (max-width: 280px) {
  .header__bottom {
    font-size: 18px;
    line-height: 14px;
  }
}

.header::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/header_background.png") no-repeat top center;
  background-size: cover;
  z-index: 1;
}

.section__main {
  margin-bottom: 83px;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 38px;
}

.cards__show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards__show_more {
  text-align: center;
  border: 1px solid #cacaca;
  padding: 24px 129px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .cards__show_more {
    padding: 20px 50px;
  }
}

@media (max-width: 340px) {
  .cards__show_more {
    padding: 14px 20px;
    font-size: 12px;
  }
}

.cards__show_more:hover {
  color: #6EBBD3;
}

.cards__show_more:active {
  color: orangered;
}

.cards__show_more:visited {
  color: darkorange;
}

.cards__item {
  min-width: 380px;
  margin-bottom: 30px;
}

@media (max-width: 900px) {
  .cards__item {
    margin: 0 auto 30px;
  }
}

@media (max-width: 480px) {
  .cards__item {
    min-width: 200px;
  }
}

@media (min-width: 342px) {
  .cards__item {
    min-width: 300px;
  }
}

.cards__content {
  position: relative;
}

.cards__img {
  margin-bottom: 29px;
  position: relative;
}

.cards__img_discount {
  position: relative;
}

.cards__img_discount:before {
  content: '-40%';
  text-align: center;
  padding: 10px;
  font-size: 16px;
  line-height: 19.5px;
  color: #fff;
  background-color: #E52D2D;
  border-radius: 10px;
  position: absolute;
  width: 78px;
  height: 39px;
  top: 35px;
  left: 35px;
}

@media (max-width: 480px) {
  .cards__img_discount:before {
    width: 68px;
    height: 29px;
    top: 20px;
    left: 20px;
    font-size: 12px;
    line-height: 10px;
  }
}

@media (max-width: 340px) {
  .cards__img_discount:before {
    width: 48px;
    height: 19px;
    line-height: 0px;
  }
}

.cards__img_selected:after {
  content: url("../img/heart.svg");
  position: absolute;
  width: 46px;
  height: 42px;
  top: 35px;
  right: 35px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .cards__img_selected:after {
    content: url("../img/heart-min.svg");
    width: 36px;
    height: 32px;
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 340px) {
  .cards__img_selected:after {
    content: url("../img/heart-micro.svg");
    width: 26px;
    height: 22px;
  }
}

.cards__img_unselected:after {
  content: url("../img/heart-white.svg");
  position: absolute;
  width: 46px;
  height: 42px;
  top: 35px;
  right: 35px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .cards__img_unselected:after {
    content: url("../img/heart-white-min.svg");
    width: 36px;
    height: 32px;
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 340px) {
  .cards__img_unselected:after {
    content: url("../img/heart-white-micro.svg");
    width: 26px;
    height: 22px;
  }
}

.cards__info {
  margin: 0 29px;
}

@media (max-width: 480px) {
  .cards__info {
    margin: 0 15px;
  }
}

@media (max-width: 340px) {
  .cards__info {
    margin: 0 5px;
  }
}

.cards__title {
  margin-bottom: 22px;
}

.cards__price {
  margin-bottom: 29px;
}

.cards__buy {
  text-align: center;
  color: #fff;
  padding: 22px 55px;
  background-color: #6EBBD3;
  font-weight: 700;
  line-height: 19.5px;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
  font-size: 16px;
}

@media (max-width: 340px) {
  .cards__buy {
    padding: 14px 55px;
  }
}

@media (max-width: 280px) {
  .cards__buy {
    font-size: 14px;
    padding: 15px;
  }
}

.cards__buy_sold {
  background-color: #1F2021;
}

.cards__btn_buy {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.cards__btn_buy:hover {
  font-size: 18px;
}

.cards__btn_buy:active {
  color: orangered;
}

.cards__btn_buy:visited {
  color: darkorange;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 37px;
  font-size: 18px;
  margin-bottom: 38px;
}

@media (max-width: 630px) {
  .sort {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .sort {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.sort__title {
  font-weight: 700;
}

.sort__price {
  margin-left: 50px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 630px) {
  .sort__price {
    margin-left: 20px;
  }
}

@media (max-width: 480px) {
  .sort__price {
    margin-left: 0px;
    margin-top: 10px;
  }
}

.sort__price:after {
  content: url("../img/arrow_down.svg");
  margin-left: 14px;
  cursor: pointer;
}

@media (max-width: 630px) {
  .sort__price:after {
    content: url("../img/arrow_down_min.svg");
  }
}

@media (max-width: 480px) {
  .sort__price:after {
    content: url("../img/arrow_down_micro.svg");
    margin-left: 3px;
  }
}

.sort__age {
  margin-left: 60px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 630px) {
  .sort__age {
    margin-left: 30px;
  }
}

@media (max-width: 480px) {
  .sort__age {
    margin-left: 0px;
    margin-top: 10px;
  }
}

.sort__age:after {
  content: url("../img/arrow_down.svg");
  margin-left: 14px;
  cursor: pointer;
}

@media (max-width: 630px) {
  .sort__age:after {
    content: url("../img/arrow_down_min.svg");
  }
}

@media (max-width: 480px) {
  .sort__age:after {
    content: url("../img/arrow_down_micro.svg");
    margin-left: 3px;
  }
}

.feat {
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 280px) {
  .feat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.feat__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-left: 4px solid #6EBBD3;
  padding: 0 18px;
}

@media (max-width: 340px) {
  .feat__main {
    padding: 0 10px 0 5px;
  }
}

@media (max-width: 280px) {
  .feat__main {
    padding: 0 10px 0 10px;
  }
}

.feat__years {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 280px) {
  .feat__years {
    margin-top: 10px;
    padding: 0 10px 0 14px;
  }
}

.feat__age {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 340px) {
  .feat__age {
    font-size: 14px;
  }
}

.feat__feet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 280px) {
  .feat__feet {
    margin-top: 10px;
    padding: 0 10px 0 14px;
  }
}

.feat__number {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

@media (max-width: 340px) {
  .feat__number {
    font-size: 14px;
  }
}

.footer {
  position: relative;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1F2021;
  color: #fff;
  padding: 92px 80px;
}

@media (max-width: 900px) {
  .footer__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px;
  }
}

.footer__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 36%;
          flex: 0 1 36%;
}

.footer__title {
  font-size: 48px;
  line-height: 58px;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .footer__title {
    font-size: 24px;
    line-height: 48px;
  }
}

@media (max-width: 340px) {
  .footer__title {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
  }
}

.footer__subtitle {
  font-size: 28px;
  line-height: 25px;
  margin-left: auto;
}

@media (max-width: 1200px) {
  .footer__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (max-width: 900px) {
  .footer__subtitle {
    margin-left: 0;
    margin-bottom: 30px;
  }
}

@media (max-width: 340px) {
  .footer__subtitle {
    font-size: 12px;
  }
}

.footer__subscribe {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 630px) {
  .footer__subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 630px) {
  .footer__email {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
}

.footer__button_subscribe {
  min-width: 300px;
  text-align: center;
  color: #fff;
  line-height: 17px;
  font-size: 14px;
  background-color: #6EBBD3;
  border: 1px solid #6EBBD3;
  padding: 20px 0px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 1200px) {
  .footer__button_subscribe {
    min-width: 180px;
    padding: 15px 0px;
  }
}

@media (max-width: 900px) {
  .footer__button_subscribe {
    min-width: 250px;
    padding: 15px 0px;
  }
}

@media (max-width: 630px) {
  .footer__button_subscribe {
    min-width: 100%;
    padding: 15px 0px;
  }
}

@media (max-width: 340px) {
  .footer__button_subscribe {
    width: 70%;
    padding: 10px 0px;
    font-size: 12px;
  }
}

.footer__button_subscribe:hover {
  color: #1F2021;
  font-size: 16px;
  font-weight: 700;
}

@media (max-width: 340px) {
  .footer__button_subscribe:hover {
    font-size: 14px;
  }
}

.footer__button_subscribe:active {
  color: orangered;
}

.footer__button_subscribe:visited {
  color: darkorange;
}

.email__field {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28%;
          flex: 0 1 28%;
}

.email__field_input {
  display: none;
}

.email__field_input:checked + .email__field_label:before {
  color: #fff;
  background-color: #6EBBD3;
}

.email__field_label {
  line-height: 17px;
  font-size: 14px;
  margin-left: 32px;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.email__field_label:before {
  content: "\2714";
  height: 18px;
  width: 18px;
  color: transparent;
  display: inline-block;
  border: 1px solid #6EBBD3;
  border-radius: 3px;
  font-weight: 700;
  text-align: center;
  line-height: 16px;
  -webkit-transition: color ease .3s;
  transition: color ease .3s;
  background-color: #6EBBD3;
  position: absolute;
  bottom: 7%;
  left: 0px;
}

@media (max-width: 1200px) {
  .email__field_label:before {
    bottom: 0px;
  }
}

@media (max-width: 340px) {
  .email__field_label:before {
    height: 15px;
    width: 15px;
    line-height: 14px;
    bottom: 2%;
  }
}

@media (max-width: 280px) {
  .email__field_label:before {
    height: 12px;
    width: 12px;
    line-height: 8px;
    bottom: 2%;
  }
}

@media (max-width: 1200px) {
  .email__field_label {
    font-size: 12px;
  }
}

@media (max-width: 340px) {
  .email__field_label {
    font-size: 11px;
    margin-left: 25px;
  }
}

@media (max-width: 280px) {
  .email__field_label {
    font-size: 9px;
    margin-left: 4px;
  }
}

@media (max-width: 900px) {
  .email__field {
    min-width: 50%;
  }
}

@media (max-width: 630px) {
  .email__field {
    margin-bottom: 40px;
  }
}

.email__input {
  min-width: 300px;
  padding: 20px;
  border: 1px solid #fff;
  margin-bottom: 24px;
}

@media (max-width: 1200px) {
  .email__input {
    min-width: 90%;
    padding: 15px;
  }
}

@media (max-width: 900px) {
  .email__input {
    min-width: 250px;
    padding: 15px;
  }
}

@media (max-width: 630px) {
  .email__input {
    min-width: 100%;
    padding: 15px;
  }
}

@media (max-width: 340px) {
  .email__input {
    width: 70%;
    padding: 10px;
    font-size: 12px;
  }
}

.email__input:focus {
  border: 1px solid #6EBBD3;
}

.scrollup {
  background: url("../img/arrow_up.svg") no-repeat center;
  width: 59px;
  height: 59px;
  position: fixed;
  right: 6.2%;
  bottom: 52%;
  background-color: #6EBBD3;
  text-align: center;
  line-height: 58px;
  cursor: pointer;
}

@media (max-width: 630px) {
  .scrollup {
    width: 39px;
    height: 39px;
  }
}

@media (max-width: 340px) {
  .scrollup {
    width: 29px;
    height: 29px;
  }
}

.scrollup:hover {
  background: url("../img/arrow_up_hover.svg") no-repeat center;
  width: 59px;
  height: 59px;
  position: fixed;
  right: 6.2%;
  bottom: 52%;
  background-color: #3da4c4;
  text-align: center;
  line-height: 58px;
  cursor: pointer;
}

@media (max-width: 630px) {
  .scrollup:hover {
    background: url("../img/arrow_up.svg") no-repeat center;
    width: 39px;
    height: 39px;
    position: fixed;
    right: 6.2%;
    bottom: 52%;
    background-color: #3da4c4;
    text-align: center;
    line-height: 58px;
    cursor: pointer;
  }
}

@media (max-width: 340px) {
  .scrollup:hover {
    background: url("../img/arrow_up.svg") no-repeat center;
    width: 29px;
    height: 29px;
    position: fixed;
    right: 6.2%;
    bottom: 52%;
    background-color: #3da4c4;
    text-align: center;
    line-height: 58px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=styles.css.map */